<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isaiahvonrundstedt.fokus">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CoreApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Fokus.Theme.Core">

        <activity android:name=".features.core.activities.MainActivity"
            android:theme="@style/Fokus.Theme.Core.Navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/xml_shortcuts"/>
        </activity>
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.about.AboutActivity" />
        <activity android:name=".features.history.HistoryActivity" />
        <activity android:name=".features.subject.SubjectEditor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.task.TaskEditor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.event.EventEditor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.subject.selector.SubjectSelectorActivity"/>

        <service android:name=".components.service.NotificationActionService"
            android:exported="false"/>
        <service android:name=".features.task.widget.TaskWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".features.event.widget.EventWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".features.subject.widget.SubjectWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".components.receiver.LocalizationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".features.task.widget.TaskWidgetProvider"
            android:label="@string/widget_task_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_tasks"/>
        </receiver>
        <receiver
            android:name=".features.event.widget.EventWidgetProvider"
            android:label="@string/widget_event_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_events"/>
        </receiver>
        <receiver
            android:name=".features.subject.widget.SubjectWidgetProvider"
            android:label="@string/widget_class_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_subjects"/>
        </receiver>

        <!-- OSSLicenses -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Fokus.Theme.Base"/>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Fokus.Theme.Base"/>

    </application>
</manifest>