<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isaiahvonrundstedt.fokus">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CoreApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Fokus.Theme.Core">
        <activity android:name="com.isaiahvonrundstedt.fokus.features.core.activities.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.core.activities.MainActivity"
            android:theme="@style/Fokus.Theme.Core.Navigation" />
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.about.AboutActivity" />
        <activity android:name=".features.history.HistoryActivity" />
        <activity android:name=".features.subject.SubjectEditor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.task.TaskEditor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.event.EventEditor"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".features.subject.selector.SubjectSelectorActivity"/>

        <!-- OSSLicenses -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Fokus.Theme.Base"/>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Fokus.Theme.Base"/>

        <service android:name=".features.core.service.NotificationActionService"
            android:exported="false"/>
    </application>

</manifest>