<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isaiahvonrundstedt.fokus">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".CoreApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Fokus.Theme.Core">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.isaiahvonrundstedt.fokus.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/xml_provider_paths"/>
        </provider>

        <activity android:name=".features.core.activities.MainActivity"
            android:theme="@style/Fokus.Theme.Core.Navigation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/xml_launcher_shortcuts"/>
        </activity>

        <activity android:name=".features.task.editor.TaskEditor"
            android:theme="@style/Fokus.Theme.Core.Editor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.event.editor.EventEditor"
            android:theme="@style/Fokus.Theme.Core.Editor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.subject.editor.SubjectEditor"
            android:theme="@style/Fokus.Theme.Core.Editor"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".features.log.LogActivity" />
        <activity android:name=".features.task.finished.FinishedTasksActivity"/>
        <activity android:name=".features.event.previous.PreviousEventsActivity"/>
        <activity android:name=".features.settings.SettingsActivity" />
        <activity android:name=".features.settings.BackupActivity"/>
        <activity android:name=".features.about.AboutActivity" />
        <activity android:name=".features.about.NoticesActivity" />

        <service android:name=".components.service.NotificationActionService"
            android:exported="false"/>
        <service android:name=".components.service.BackupRestoreService"
            android:exported="false"/>
        <service android:name=".components.service.FileImporterService"
            android:exported="false"/>
        <service android:name=".components.service.DataExporterService"
            android:exported="false"/>
        <service android:name=".components.service.DataImporterService"
            android:exported="false"/>
        <service android:name=".features.widget.task.TaskWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".features.widget.event.EventWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".features.widget.subject.SubjectWidgetRemoteService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".components.receiver.LocalizationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.isaiahvonrundstedt.fokus.features.widget.task.TaskWidgetProvider"
            android:label="@string/widget_task_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_tasks"/>
        </receiver>
        <receiver
            android:name="com.isaiahvonrundstedt.fokus.features.widget.event.EventWidgetProvider"
            android:label="@string/widget_event_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_events"/>
        </receiver>
        <receiver
            android:name="com.isaiahvonrundstedt.fokus.features.widget.subject.SubjectWidgetProvider"
            android:label="@string/widget_class_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_widget_subjects"/>
        </receiver>

        <!-- OSSLicenses -->
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Fokus.Theme.Base"/>
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Fokus.Theme.Base"/>


    </application>
</manifest>